= bootstrap_form_for(@contact, html: { class: 'form-horizontal' }) do |f|

  = f.text_field :first_name
  = f.text_field :last_name
  = f.text_field :email
  = f.text_field :mobile

  = f.text_field :landline
  = f.text_field :photo
  = f.text_field :twitter

  = f.actions do
    = f.primary 'Save'
